.Logo_name {
  font-size: 22px;
}

.Present_block {
  background-color: white;
  width: 600px;
  height: 150px;
  margin: 200px auto;
}

.Presentation_menu {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  height: 50px;
  gap: 12px;
  padding-left: 20px;
}

.Presentation_text {
  padding-top: 15px;
  font-size: 14px;
  font-weight: 700;
}

.Button_text {
  font-size: 14px;
}

.Banner_wrap {
  display: flex;
  flex-wrap: wrap;
}