.Logo_name {
  font-size: 22px;
}

.Present_block {
  background-color: white;
  width: 600px;
  height: 150px;
  margin: 200px auto;
}

.Presentation_menu {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  height: 50px;
  gap: 8px;
  padding-left: 20px;
}

.Presentation_text {
  padding-top: 10px;
}